body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  animation: fadeIn 1s ease-in;
}


html {
  scroll-behavior: smooth;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(37,99,235,0.2);
}

section {
  padding: 80px 10%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
  color: #475569;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

